.App{
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.images{
height: 300px;
width: 300px;
object-fit: cover;
border-radius: 50%;
}
.App > div:nth-child(3) > .images {
    border-radius: 0px;
}
.user-container{
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}
.add-color{
    display:flex;
}
.book-specs{
     display:flex; 
    align-items: center;
    justify-content:space-between;  

}
.book-container{
    width: 350px;
}
.book-poster{
    width: 350px;
    height: 500px;
    object-fit: cover;
    
}
.book-list{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pagenot img{
    width: 600px;
    height: 300px;
}
.add-book-form{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin:16px;
}
.book-detail-container{
    max-width:900px;
}
